body {
	background-color: #0F5050;
	text-align: center;
}

.axis {
	font-family: arial;
	font-size: 0.8em;
}

/* To show tick marks and axis (thin) */
.axis path,
.axis line {
    fill: none;
    stroke: #000000;
}

.footer {
	text-align: left;
	margin-top: 40px;
	font-family: arial;
	font-size: 0.7em;
	color: white;
}

.footer a {
	color: white;
}